<!DOCTYPE html>
<html>
    <head>
        <title>Meeting Room</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <!--check the version of the browser and add some classes to the page in case the brower is old, that will allow CSS to make the page more cross brower compatible -->
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1>Welcome to Meeting Room Reservation !</h1>
        <br>
		<a href="/rooms" class="btn btn-lg btn-success">View All Rooms Available</a>
    </div>

    <ul class="slideshow">
      <li></li>
    </ul>

<% include partials/footer %>